## Keybind
set $mod Mod4

## Directions
set $up k
set $down j
set $left h
set $right l 

# Startup applications
exec --no-startup-id exec ~/.screenlayout/default.sh
exec --no-startup-id dunst
exec --no-startup-id exec ~/.config/i3/scripts/lock.sh

## Font
font ProFont IIX Nerd Font:ProFont IIX Nerd Font 13
