## Colors - Kanagawa based theme
client.focused          #7E9CD8 #7E9CD8 #c7d7e0 #7E9CD8
client.unfocused        #16161D #16161D #c7d7e0 #16161D
client.focused_inactive #16161D #16161D #c7d7e0 #16161D
client.placeholder      #16161D #16161D #c7d7e0 #16161D
client.urgent           #d7474b #d7474b #a09cac #d7474b
client.background       #1F1F28

default_border pixel 4

## Startup Applications
exec --no-startup-id easyeffects --gapplication-service
exec --no-startup-id flameshot
exec --no-startup-id variety
exec --no-startup-id tmux new-session -d -s personal
exec --no-startup-id tmux new-session -d -s work
exec --no-startup-id tmux new-session -d -s projects
exec --no-startup-id tmux new-session -d -s monitoring 'btop'
exec --no-startup-id exec ~/.config/i3/scripts/nordpass.sh
# exec --no-startup-id exec ~/.config/i3/scripts/spotify.sh
# exec --no-startup-id openrgb --profile teste.orp --startminimized

exec_always --no-startup-id ~/.config/polybar/launch.sh &

# Open Powermenu
bindsym $mod+0 exec archlinux-logout
bindsym $mod+Shift+Control+0 exec archlinux-logout

# Resizing Windows
bindsym $mod+Mod1+Ctrl+$right resize shrink width 1 px or 1 ppt
bindsym $mod+Mod1+Ctrl+$up resize grow height 1 px or 1 ppt
bindsym $mod+Mod1+Ctrl+$down resize shrink height 1 px or 1 ppt
bindsym $mod+Mod1+Ctrl+$left resize grow width 1 px or 1 ppt

# Send to scratchpad
bindsym $mod+Shift+minus move scratchpad

# Go to scratchpad
bindsym $mod+minus scratchpad show

# Start Nordpass on system tray in background
for_window [class="nordpass"] move to scratchpad
for_window [class="NordPass"] move to scratchpad
for_window [class="spotify"] move to scratchpad
for_window [class="Spotify"] move to scratchpad
